/* Style the form */

body {
  background: url(../images/fondo.JPG) fixed;
}

#regForm {
    background-color: white;
    margin: 20px auto;
    padding: 40px;
    width: 80%;
    min-width: 300px;
  }
  
  /* Style the input fields */
  input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    /*font-family: Raleway;*/
    border: 1px solid #aaaaaa;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none; 
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }  
  /* Mark the active step: */
  .step.active, .custom.active {
    opacity: 1;
  }

  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #4CAF50;
  }

  .custom.finish {
      background-color: #4CAF50;
      color: white;
  }

  .custom {
      background-color: #bbbbbb;
      color: white;
      opacity: 0.5;
  }

  .custom:hover {
      color: white;
  }

  .nav-item>a {
      cursor: default;
  }
